<div class="login">
  <h3>¡Bienvenido nuevamente!</h3>

  <p>Por favor ingrese las credenciales del administrador del portal Bioselva.pe</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "admin-signin" }) do |f| %>
    <div class="form-group">
      <label for="admin_user_email">Correo electrónico</label>
      <%= f.email_field :email, autofocus: true, :class => "form-control form-control-lg" %>
    </div>

    <div class="form-group">
      <label for="admin_user_password">Contraseña</label>
      <%= f.password_field :password, :class => "form-control form-control-lg" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="form-check">
          <%= f.check_box :remember_me, :class => "form-check-input" %>
          <label class="form-check-label" for="admin_user_remember_me">
            Recordar mi cuenta
          </label>
        </div>
      </div>
    <% end -%>
    
    <div class="actions">
      <%= f.submit "Iniciar sesión", :class => "btn btn-primary btn-block btn-lg" %>
    </div>
  <% end %>
</div>