<div class="categories">
  <div class="row">
    <div class="col">
      <h3 class="float-left">
        Categorías de Recetas
      </h3>
      <div class="float-right">
        <%= link_to new_admin_category_path, :class => "btn btn-primary" do %>
          <span>
            <i class="fa fa-plus"></i> Agregar nueva categoría
          </span>
        <% end %>
        <%#= link_to admin_recipes_path, :class => "btn btn-light" do %>
<!--          <span>-->
<!--            <i class="fa fa-list"></i> Ver todas las recetas-->
<!--          </span>-->
        <%# end %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
        <% @companies.each do |compnay| %>
          <tr>
            <td><%= compnay.name %></td>
            <td>
              <%= link_to  edit_admin_category_path(compnay) , :class => "btn btn-primary btn-outline" do %>
                <span>
                  <i class="fa fa-edit"></i> Editar
                </span>
              <% end %>
            </td>
            <td>
              <%= link_to "#", :class => "btn btn-outline-danger",
                  :data => { :toggle => "modal", :target => "#deleteModal#{category.id}"} do %>
                <span>
                  <i class="fa fa-trash-alt"></i> Eliminar
                </span>
              <% end %>
              <div class="modal fade" id="deleteModal<%=category.id%>" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Eliminar Categoria</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ¿Está seguro que desea eliminar la categorias
                      <strong><%= category.name %>? Recuerde que se eliminaran todas las empresas de esta categoria </strong>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                      <%= link_to "Eliminar", admin_category_path(category) ,  method: :delete, class: "btn btn-danger" %>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>