<%= form_for([:admin, @category]) do |f| %>
  <div class="form-group row">
    <%= f.label :name, "Nombre", :class => "col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>

  <div class="form-actions row">
    <div class="col-sm-12">
      <div class="float-right">
        <%= link_to "Cancelar", admin_categories_path, :class => "btn btn-light" %>
        <%= f.submit "Guardar", :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>