<div class="categories edit">
  <h3>Editar categoría</h3>

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <%= render "form" %>
        </div>
      </div>
    </div>
  </div>
<div>