$font-family: 'Roboto Slab', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$admin-font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$background-color: #eceff1;
$default-color: #515365;

$menu-item-color: #9c9fb3;

$box-border-color: #e6ecf5;

$text-green-primary: #0d9445;
$text-green-secondary: #73bf45;