/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "variables";
 
body {
  background: #FFFFFF;
  color: $default-color;
  font-family: $admin-font-family;
  font-weight: 300;
  font-size: 1em;
}

.page-content {
  padding: 30px 15px 10px 255px;
  @include transition(all .2s ease-in-out);
}
 
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: 1.2rem;
}
 
.section-actions {
  margin-bottom: 15px;
}
 
.panel {
  padding: 15px;
  border-radius: 0px;
}

.card {
  border: 0px;
}

.form-actions {
  padding: 15px 0px;
}
 
.Sidebar {
  width: 240px;
  height: 100%;
  overflow: hidden;
  padding: 0px;
  position: fixed;
  background-color: #2e3e4e;
  border-right: solid 1px $box-border-color;
  z-index: 60;
 
  .Sidebar__logoWrapper {
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    background: #1c2a39;
  }
  
  .Sidebar__content {
    padding-top: 10px;
 
    .Sidebar__menu {
      list-style: none;
      padding-left: 0px;
 
      .Sidebar__menuItem {
        display: block;
        padding: 8px 15px;
        width: 100%;
        @include transition(all .2s ease-in-out);
        color: $menu-item-color;
        font-weight: 300;
        //font-size: 1.1em;

        &.active {
          font-weight: 400;
          color: white;
          background: rgba(250,250,250,.1);
        }

        &:hover {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
 
.Navbar {
  .navbar {
    background: #FFFFFF;
    margin-left: 240px;
  }
}
 
.hidden {
  display: none;
}

.admin-auth {
  background: #eceff1;

  .login {
    margin: 100px auto;
    width: 420px;

    h3, p {
      text-align: center;
    }

    form.admin-signin {
      background: white;
      padding: 30px;
      width: 420px;
      margin-top: 25px;
      border-radius: 4px;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1)
    }
  }
}

.alert {
  border: none;

  .alert-icon {
    font-size: 1.5em;
    float: left;
    margin-right: 15px;
  }

  .alert-message {
    display: inline-block;
    
    p {
      margin-bottom: 0px;
    }
    
    .alert-title {
      font-weight: 600;
    }
  }

  &.alert-danger {
    background: #fcebea;
    color: #515365;

    &.left-bordered {
      border-left: 3px solid #ef5753;
    }

    .alert-text {
      color: #cc1f1a;
    }
  }

  &.alert-success {
    background: #e8fffe;
    border-top: 3px solid #4dc0b5;
    color: #515365;

    .alert-icon {
      color: #4dc0b5;
    }
  }
} 

.session-flash {
  position: absolute;
  left: 50%;
  top: 0px;
  z-index: 9999;

  .alert {
    display: none;
    width: 720px;
    position: relative;
    border: 0px;
    top: 0px;
    left: -50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
  
    .alert-icon {
      font-size: 1.5em;
      float: left;
      margin-right: 15px;
    }

    .alert-message {
      display: inline-block;
      
      p {
        margin-bottom: 0px;
      }
      
      .alert-title {
        font-weight: 600;
      }
    }

    &.alert-success {
      background: #e8fffe;
      border-top: 3px solid #4dc0b5;
      color: #515365;

      .alert-icon {
        color: #4dc0b5;
      }
    }
  } 
}

.categories {
  .card {
    // margin-top: 30px;
    
    .table {
      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .edit-category-image {
    margin-top: 15px;
    
    img {
      border: 2px solid #ddd;
      width: 250px;
      height: auto;
    }
  }


  .category-detail-image {
    margin-top: 15px;

    img {
      border: 2px solid #ddd;
      width: 400px;
      height: auto;
    }
  }
}

.secondary-text {
  color: #CFD8DC
}

.uppercase {
  text-transform: uppercase
}

.form-group {
  label {
    font-weight: 400;
  }
}

.form-actions {
  .buttons {
    border-top: 1px solid #eceff1;
    padding: 30px 0px;
  }
}