/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "variables";

body {
  background: white;
  color: $default-color;
  font-family: $font-family;
  font-weight: 300;
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-bottom: 1.2rem;
}


/* Carousel base class */
.carousel {
  margin-bottom: 2rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
  color: white;
  text-decoration: none;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  height: 32rem;
}

#main-content {
  padding: 0px;
}


header {
  nav.navbar {
    border-bottom: 1px solid #ddd;

    .navbar-brand {
      font-weight: bold;
      color: $text-green-primary;
      text-transform: uppercase;
    }

    .nav-item {
      .nav-link {
        color: #ea258e;
        font-weight: 400;
      }
    }
  }
}

