<!DOCTYPE html>
<html>
  <head>
    <title>Bioselva</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag params[:controller] %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
  </head>

  <body>
    <div class="Sidebar">
      <div class="Sidebar__logoWrapper">
        Bioselva.pe Admin
      </div>
      <div class="Sidebar__content">
        <ul class="Sidebar__menu">
          <li>
            <a href="#" class="Sidebar__menuItem">Dashboard</a>
          </li>
          <li>
            <%= link_to "Categories", admin_categories_path, :class => "Sidebar__menuItem", :id => "sidebar_products" %>
          </li>
          <li>
            <%= link_to "Empresas", admin_companies_path, :class => "Sidebar__menuItem", :id => "sidebar_recipes" %>
          </li>
<!--          <li>-->
            <%#= link_to "Beneficios", admin_utilities_path, :class => "Sidebar__menuItem", :id => "sidebar_benefits" %>
<!--          </li>-->
<!--          <li>-->
            <%#= link_to "Pedidos", admin_orders_path, :class => "Sidebar__menuItem", :id => "sidebar_orders" %>
<!--          </li>-->
<!--          <li>-->
            <%#= link_to "Articulos", admin_articles_path, :class => "Sidebar__menuItem", :id => "sidebar_articles" %>
<!--          </li>-->
<!--          <li>-->
            <%#= link_to "Portadas", admin_covers_path, :class => "Sidebar__menuItem" %>
<!--          </li>-->
<!--          <li>-->
            <%#= link_to "Clientes", admin_customers_path, :class => "Sidebar__menuItem", :id => "sidebar_customers" %>
<!--          </li>-->
          <li>
            <%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete, :class => "Sidebar__menuItem" %>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="page-content">
      <div class="container-fluid">
        <div class="row">
          <div class="session-flash">
            <% if notice %>
              <div class="alert alert-success alert-dismissable">
                <div class="alert-icon">
                  <i class="far fa-check-circle"></i>
                </div>
                <div class="alert-message">
                  <%= notice.html_safe %>
                </div>
              </div>
            <% end %>
            <% if alert %>
              <div class="alert alert-danger alert-dismissable">
                <%= alert %>
              </div>
            <% end %>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'admin/admin' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag params[:controller] %>
</html>
