<!DOCTYPE html>
<html>
  <head>
    <title>RubyTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main role="main">
      <div class="container-fluid" id="main-content">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "aceite_banner.jpg", :class => "second-slide", :alt => "Second slide" %>
              <div class="container">
  <!--              <div class="carousel-caption text-left">-->
  <!--                <h1>Aceite de Coco</h1>-->
  <!--                <p><span>Descubra uno de los grandes secretos de la amazonía peruana, Aceite de coco Bioselva.</span></p>-->
  <!--                <p><%#= link_to "Comprar", products_path, class:"btn btn-lg btn-green btn-outlined " %></p>-->
  <!--              </div>-->
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "aceite_banner.jpg", :class => "second-slide", :alt => "Second slide" %>
               <div class="container">
  <!--              <div class="carousel-caption text-left">-->
  <!--                <h1>Harina de Coco</h1>-->
  <!--                <p><span>Exótica, dulce, fina, ligera y blanca como la nieve... Descubre la Harina de Coco Bioselva.</span></p>-->
  <!--                <p><%#= link_to "Comprar", products_path, class:"btn btn-lg btn-green btn-outlined " %></p>-->
  <!--              </div>-->
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <%= render "layouts/header" %>
        <div class="container">
          <div class="row">
            <% if notice %>
              <div class="alert alert-success alert-dismissable" style="margin-top: 20px; width: 100%">
                <%= notice %>
              </div>
            <% end %>
            <% if alert %>
              <div class="alert alert-danger alert-dismissable" style="margin-top: 20px; width: 100%">
                <%= alert %>
              </div>
            <% end %>
          </div>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag params[:controller] %>
</html>
